extends ../layouts/index.pug

block header
  = t('users.index.title')

block content
  .table-responsive
    table.table.table-borderless.table-striped.mt-5.bg-white
      thead
        tr
          th= t('users.index.id')
          th= t('users.index.fullName')
          th= t('users.index.email')
          th= t('users.index.createdAt')
          th= t('users.index.actions')
      tbody
        each user in users
          tr
            td= user.id
            td= user.fullName
            td= user.email
            td= formatDate(user.createdAt)
            td
              .d-flex.flex-wrap
                a.btn.btn-primary.me-1(href=`/users/${user.id}/edit`)=t('buttons.change')
                +buttonTo(`/users/${user.id}`, 'delete')(class="btn btn-danger" value=t('buttons.delete'))